[run]
branch = True
source = app
omit =
    app/__pycache__/*
    */tests/*
    app/s3.py

[report]
show_missing = True
skip_covered = False
fail_under = 50
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
